/* Google Webフォントを利用設定するCSSをインポート */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  color: black;
  background-color: gainsboro;
  font-family: 'Roboto Mono', monospace;
}

div {
  width: 95%;
}

div#clock_frame {
  width: 95%;
  padding-right: 0.2em;
  text-align: right;
}

div#clock_date {
  text-align: right;
  font-size: 2em;
  display: inline;
}

div#clock_time {
  text-align: right;
  font-size: 2em;
  display: inline;
}


div#watch_frame {
  width: 95%;
  padding-right: 0.3em;
  text-align: right;
  float: right;
}

div#table_frame {
  width: 100%;
  height: 300px;
  overflow: auto;
}

div#record_frame {
  display: block;
  margin-top: 10px;
  padding-top: 100px;
}

span#watch {
  font-size: 4em;
  color: rgba(255, 0, 0, 0.705);
}

span#lapwatch {
  font-size: 2em;
  color: goldenrod;
}

input[type="button"] {
  width: 100px;
  height: 50px;
  background: #05aa73;
  color: ghostwhite;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 5px;
  user-select: none;
  border-radius: 100vh;
}

input#StopButton {
  background: none;
  color : #ff8a8e;
  border: 1px solid;
  border-color:#ff8a8e;;
}


input#LapButton {
  background: burlywood;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: .4s;
  float: left;
}

input#ResetButton {
  background: none;
  border: 1px solid;
  border-color:black;
  color: black;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: .4s;
  border-radius: 10vh;
  float: left;
}

input:hover {
  opacity: 0.8;
}

form {
  float: left;
  font-family: 'MuseoModerno', cursive;
  vertical-align: middle;
  white-space: nowrap;
}

textarea {
  outline: none;
  border: 1px solid #aaa;
  -webkit-transition: all .3s;
  transition: all .3s;

  resize: none;

}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover {
  background-color: #d4f0fd;
}

table th,
table td {
  text-align: center;
  width: 15%;
  padding: 15px 0;
}

td#tableAge {
  color: rgba(255, 0, 0, 0.705);
  ;
}

ul.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #1b2538;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
}

ul.topnav li a:hover:not(.active) {
  background-color: #a9bce2;
}

ul.topnav li a.active {
  background-color: #da3c41;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 480px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
.cp_iptxt {
	position: relative;
  top: 25px;
  margin-left: 10px;
 
}

.cp_iptxt input[type='text'] {
	box-sizing: border-box;
	width: 60%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}

.ef input[type='text']:focus {
  border-bottom: 2px solid #da3c41;
  color: black;
	outline: none;
}